.info-background {
  height: 35rem;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../media/img/pl-hero2.png");
  background-size: cover;
  background-position: top;

  display: flex;
  justify-content: space-between;

  button {
    width: 18.8rem;
    height: 5rem;
    margin-bottom: 3.3rem;
    margin-right: 12rem;
    margin-top: 25rem;
    background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
    border: none;
    border-radius: 3px;
    cursor: pointer;

    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
  }
}

.info-like {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.info-pic {
  width: 28rem;
  height: 35rem;
  margin-left: 2rem;
  margin-top: 5rem;
  margin-right: 1rem;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
}

.info-data {
  position: absolute;
  margin-left: 35rem;
  margin-top: 19.1rem;

  h1 {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 35px;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  h3 {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.7;
  }
}

.info-star-container {
  height: 3rem;
  width: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-sightings {
  margin-left: 1rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  width: 9rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info-bottom {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.info-left {
  margin-top: 10rem;
  margin-right: 18.5rem;
  padding-left: 8rem;
  width: 14.5rem;
  height: 10rem;

  h4 {
    width: 20rem;
    margin-bottom: 0.5rem;

    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    text-align: justify;
    color: #949ea0;
  }
}

.info-right {
  margin-top: 5rem;
  margin-right: 12rem;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;

  color: #949ea0;

  div {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
