.login {
  color: #df9186;
  text-decoration: none;
  border: none;
  margin-right: 4rem;
  background-color: transparent;
  cursor: pointer;
}

.new-acc {
  background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
  box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
  border-radius: 50px;
  color: #ffffff;
  height: 4rem;
  width: 14rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}
